* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2, p {
  margin-bottom: 10px;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #fff;
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

section::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

section > * {
  position: relative;
  z-index: 2;
}

section:nth-of-type(1) {
  background-image: url("./images/bkground.jpg");
  background-position: center;
}